@model BookViewModelList;
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-wrap justify-center">
    <div>
        <div>
            <ol>
                @foreach (var book in Model.BooksList)
                {
                    <li>@book.AuthorName - @book.Name</li>
                }
            </ol>
        </div>
    </div>
</div>

<vc:paging sort-filter-page-data="Model.SortFilterPageData"></vc:paging>